# Stuff Lending Test Report
Version #[1](https://gitlab.lnu.se/1dv607/student/vm222hx/a2)
Dacte: 2023.10.09
Environment: Windows, Java version 18. Performed by: Vanja

| Case | Result | Note |
| -------- | -------- | -------- |
|1.1|ok||
|1.2|ok||
|1.3|ok||
|2.1|ok||
|2.2|ok||
|2.3|ok||
|3.1|ok||
|3.2|ok||
|3.3|ok||
|3.4|ok||
|3.5|ok||
|3.6|ok||
|4.1|ok||
|5.1|ok||